*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
body{
    background-color: #777777;
    color: white;
}
header{
    background-color: black;
    padding-top: 28px;
    padding-bottom: 28px;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: #F57520;
}
.icons{
    display: flex;
    align-items: center;
    gap: 24px;
}
.hero{
    background-image: url("./img/1.png");
    height: 770px;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero h1{
    font-size: 96px;
    font-weight: 700;
    line-height: 118.08px;
    letter-spacing: 0.02em;
    padding-top: 80px;
}
.hero p{
    font-size: 18px;
    font-weight: 600;
    line-height: 28.8px;
    letter-spacing: 0.01em;
    padding-top: 40px;
    padding-bottom: 40px;
}
.btn{
    padding: 16px 45px;
    background: #F57520;
    border-radius: 10px;
    border: none;
}
.hero1{
    padding: 80px 0;
    text-align: center;
}
.hero1 h1{
    font-size: 64px;
    font-weight: 800;
    line-height: 78.72px;
    letter-spacing: 0.05em;
    text-align: center;
    color: black;
    margin: 35px 0 ;
}
.hero2 h1{
    font-size: 64px;
    font-weight: 800;
    line-height: 78.72px;
    letter-spacing: 0.05em;
    text-align: center;
    color: black;
    margin-top: 100px;
    margin-bottom: 100px;
}
.card{
    width: 400px;
    height: 462px;
    background-color: black;
    border-radius: 10px;
}
.card h4{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 800;
    line-height: 25.6px;
    margin-top: 24px;
    margin-bottom: 50px;
    margin-left: 27px;
}
.card p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.01em;
    margin-left: 27px;
}
.card:hover{
    background: #F57520;
    color: black;
}
.ada{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.hero3{
    background-color: #F57520;
    background-image: url("./img/image\ 86.png");
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 120px;
    padding-top: 56px;
}
.hero3 h1{
    font-size: 40px;
    font-weight: 800;
    line-height: 49.2px;
    letter-spacing: 0.05em;
    margin-bottom: 42px;
}
input{
    width: 302px;
    height: 40px;
    border: none;
    margin-top: 16px;
    border-radius: 10px;
    padding-left: 16px;
    margin-right: 16px;
}
textarea{
    width: 608px;
    height: 154px;
    border: none;
    border-radius: 10px;
    margin-top: 16px;
    padding-left: 16px;
    margin-bottom: 24px;
    padding-top: 10px;
}
.btn2{
    width: 608px;
    height: 52px;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: #F57520;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.68px;
    margin-bottom: 40px;    
}
footer{
    background-color: black;
    padding-top: 91px;
    padding-bottom: 100px;
}
footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.f{
    display: flex;
    align-items: center;
    gap: 91px;
}
.h{
    margin-left: -500px;
}
h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 38.4px;
    letter-spacing: 0.01em;
}
p{
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    margin-top: 22px;
}